.footer {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  border-top: 1px solid white;
  position: sticky;
}

.footer p {
  font-size: 25px;
  color: burlywood;
}
.footer span {
  color: #f3b542;
}
